<script setup>
import {computed, reactive, ref} from 'vue'
import {
    mdiBallotOutline,
    mdiAccount,
    mdiMail,
    mdiGithub,
    mdiArrowLeftBold,
    mdiCheckCircle,
    mdiCloseCircleOutline
} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import CardBox from '@/components/CardBox.vue'
import FormCheckRadioGroup from '@/components/FormCheckRadioGroup.vue'
import FormFilePicker from '@/components/FormFilePicker.vue'
import FormField from '@/components/FormField.vue'
import FormControl from '@/components/FormControl.vue'
import BaseDivider from '@/components/BaseDivider.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from '@/components/BaseButtons.vue'
import SectionTitle from '@/components/SectionTitle.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import NotificationBarInCard from '@/components/NotificationBarInCard.vue'
import axios from "axios";
import NotificationBar from "@/Components/NotificationBar.vue";
import BaseIcon from "@/Components/BaseIcon.vue";





const customElementsForm = reactive({
    checkbox: ['lorem'],
    radio: 'one',
    switch: ['one'],
    file: null
})

const submit = () => {
    //
}

const formStatusWithHeader = ref(true)

const formStatusCurrent = ref(0)

const formStatusOptions = ['info', 'success', 'danger', 'warning']

const formStatusSubmit = () => {
    formStatusCurrent.value = formStatusOptions[formStatusCurrent.value + 1]
        ? formStatusCurrent.value + 1
        : 0
}
const notificationSettingsModel = ref([])
const notificationsOutline = computed(() => notificationSettingsModel.value.indexOf('outline') > -1)
</script>

<script>
import {computed} from "vue";

export default{
    data() {
        return {
            product: {},
            errors: {},
            storeSuccess: false,
            images: [],
            imageSources: [],
            dragclass: ''
        }
    },
    computed: {
        canSubmit: function () {
            return this.product.title && this.product.price
        }
    },
    props:[
        'authors'
    ],
    methods:{
        clearForm(){
            this.storeSuccess = false
            this.product = {};
        },
        storeProduct(){

            axios.post('/admin/products', {product: this.product, images: this.images}, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                 })
                .then(res => {

                    this.storeSuccess = true
                    this.product = {}
                    this.images = []
                })
                .catch(res => {
                    this.storeSuccess = false
                    this.errors = res.response.data.errors
                })
                .finally(res => {

                })
        },
        addImages(e){
            this.images = e.target.files.length>0 ? e.target.files : [];
            this.previewImages()
        },
        removeImage(index) {
            const dt = new DataTransfer()
            const input = document.getElementById('images')
            const { files } = input

            for (let i = 0; i < files.length; i++) {
                const file = files[i]

                if (index !== i){
                    dt.items.add(file) // here you exclude the file. thus removing it.
                }
            }
            this.imageSources = this.imageSources.filter( (el, idx) => idx !== index );
            this.images = input.files = dt.files // Assign the updates list
        },
        onUploadEnter(e){
             e.preventDefault()
             e.stopPropagation()
            this.dragclass='bg-yellow-500'
        },
        onUploadDragOver(e){
            e.preventDefault()
            e.stopPropagation()
            this.dragclass='bg-yellow-500'
        },
        onUploadleave(e){
             e.preventDefault()
             e.stopPropagation()
            this.dragclass=''

        },
        onUploadDrop(e) {
            this.dragclass=''
            e.preventDefault()
            e.stopPropagation()
            let dt = e.dataTransfer
            let files = dt.files

            this.handleFiles(files)
        },
        handleFiles(files) {
            const input = document.getElementById('images')
            this.images = input.files =  files

            this.previewImages();
        },
        previewImages() {
            Array.from(this.images).forEach((image, idx) => {
                let reader = new FileReader()
                reader.readAsDataURL(image)
                reader.onloadend  = () => {
                    this.imageSources[idx] = reader.result
                }
            });
        }
    }

}


</script>

<template>
    <LayoutAuthenticated>
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiBallotOutline" title="Создание Товара" main>
                <BaseButton
                    routeName="products.index"
                    target="_blank"
                    :icon="mdiArrowLeftBold"
                    label="Назад"
                    color="info"
                    outline
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <NotificationBar v-if="storeSuccess && Object.keys(product).length===0" color="success" :icon="mdiCheckCircle" :outline="notificationsOutline">
                <b>Удачно</b>. Товар создан
                <template #right>

                </template>
            </NotificationBar>
            <CardBox form @submit.prevent="submit">
                <FormField label="Название*" >
                    <FormControl v-model="product.title" type="text" placeholder="Название" />
                    <small v-if="errors.title" class="text-red-600">{{errors.title[0]}}</small>
                </FormField>
                <FormField label="Цена*" >
                    <FormControl v-model="product.price" type="text" placeholder="Цена" />
                    <small v-if="errors.price" class="text-red-600">{{errors.price[0]}}</small>
                </FormField>
                <FormField label="Цена со скидкой" >
                    <FormControl v-model="product.price_with_discount" type="text" placeholder="Цена со скидкой" />
                    <small v-if="errors.price_with_discount" class="text-red-600">{{errors.price_with_discount[0]}}</small>
                </FormField>
                <FormField label="Описание" >
                    <FormControl v-model="product.description" type="textarea" placeholder="Описанией" />
                    <small v-if="errors.description" class="text-red-600">{{errors.description[0]}}</small>
                </FormField>
                <FormField label="Автор" >
                    <FormControl withEmpty v-model="product.author_id" :options="authors" />
                    <small v-if="errors.author_id" class="text-red-600">{{errors.author_id[0]}}</small>
                </FormField>
                <SectionMain>
                    <input id="images" @change="addImages" multiple ref="fileInput" type="file" class="hidden"
                           accept="image/png, image/gif, image/jpeg, image/webp" />
                    <CardBox
                        @dragenter="onUploadEnter"
                        @dragleave="onUploadleave"
                        @dragover="onUploadDragOver"
                        @drop="onUploadDrop"
                        @click="$refs.fileInput.click()"
                        :class="[dragclass, 'md:w-7/12 lg:w-5/12 xl:w-4/12 shadow-2xl md:mx-auto cursor-pointer']">
                        <div class="no-pointer-events text-center py-4 lg:py-4 text-gray-500 dark:text-slate-400">
                            <div><b>Перетяните сюда изображения</b><br />
                                <small>или нажмите для обзора</small>
                            </div>
                        </div>
                    </CardBox>
                </SectionMain>
                <SectionMain v-if="images.length">
                    <CardBox class="md:w-7/12 lg:w-5/12 xl:w-4/12 shadow-2xl md:mx-auto">
                        <div class="text-center py-4 lg:py-4 text-gray-500 dark:text-slate-400">
                            <div v-for="(image, index) in images" class="flex mt-10 justify-between items-center">
                                <img :src="imageSources[index]" class="h-20" />
                                <span>{{image.name}}({{image.size}} bytes)</span>
                                <span @click="removeImage(index)" class="cursor-pointer"><BaseIcon :path="mdiCloseCircleOutline" size="15" class="text-red-500" /></span>
                            </div>
                        </div>
                    </CardBox>
                </SectionMain>
                <template #footer>
                    <BaseButtons>
                        <BaseButton v-if="canSubmit" @click="storeProduct" type="submit" color="info" label="Создать" />
                        <BaseButton v-if="!canSubmit" type="submit" color="info" label="Создать" style="opacity:0.5" />

                        <BaseButton @click="clearForm" type="reset" color="info" outline label="Очистить" />
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>


    </LayoutAuthenticated>
</template>


<style >
.no-pointer-events{
    pointer-events: none;
}

</style>
