<script setup>
import { reactive, ref } from 'vue'
import {mdiBallotOutline, mdiAccount, mdiMail, mdiGithub, mdiArrowLeftBold, mdiCloseCircleOutline} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import CardBox from '@/components/CardBox.vue'
import FormCheckRadioGroup from '@/components/FormCheckRadioGroup.vue'
import FormFilePicker from '@/components/FormFilePicker.vue'
import FormField from '@/components/FormField.vue'
import FormControl from '@/components/FormControl.vue'
import BaseDivider from '@/components/BaseDivider.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from '@/components/BaseButtons.vue'
import SectionTitle from '@/components/SectionTitle.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import NotificationBarInCard from '@/components/NotificationBarInCard.vue'
import axios from "axios";
import BaseIcon from "@/Components/BaseIcon.vue";

const selectOptions = [
    { id: 1, label: 'Business development' },
    { id: 2, label: 'Marketing' },
    { id: 3, label: 'Sales' }
]

const form = reactive({
    name: 'John Doe',
    email: 'john.doe@example.com',
    phone: '',
    department: selectOptions[0],
    subject: '',
    question: ''
})

const customElementsForm = reactive({
    checkbox: ['lorem'],
    radio: 'one',
    switch: ['one'],
    file: null
})

const submit = () => {
    //
}

const formStatusWithHeader = ref(true)

const formStatusCurrent = ref(0)

const formStatusOptions = ['info', 'success', 'danger', 'warning']

const formStatusSubmit = () => {
    formStatusCurrent.value = formStatusOptions[formStatusCurrent.value + 1]
        ? formStatusCurrent.value + 1
        : 0
}
</script>

<script>
import {router} from "@inertiajs/vue3";

export default{
    data() {
        return {
            productData: this.product,
            errors: {},
            images: [],
            imageSources: [],
            dragclass: ''
        }
    },
    props:[
        'product',
        'authors'
    ],
    computed: {
        canSubmit: function () {
            return this.product.title && this.product.price
        }
    },
    methods:{
        updateProduct(){

            axios.post(`/admin/products/${this.product.id}`, {_method: 'put', product: this.product, images: this.images}, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(res => {
                    router.visit('/admin/products')
                })
                .catch(res => {
                    //console.log(res);
                    this.errors = res.response.data.errors
                })
                .finally(res => {

                })
        },
        addImages(e){
            this.productData.images = [];
            this.images = e.target.files.length>0 ? e.target.files : [];
            this.previewImages()
        },
        removeImage(index) {
            const dt = new DataTransfer()
            const input = document.getElementById('images')
            const { files } = input

            for (let i = 0; i < files.length; i++) {
                const file = files[i]
                if (index !== i)
                    dt.items.add(file) // here you exclude the file. thus removing it.
            }

            this.imageSources = this.imageSources.filter( (el, idx) => idx !== index );
            this.images = input.files = dt.files // Assign the updates list
        },
        deleteImage(id) {
            axios.delete(`/admin/images/${id}`)
                .then(res => {
                    this.productData.images = this.productData.images.filter(el => el.id!==id);
                })
                .catch(res => {

                })
                .finally(res => {

                })
        },
        onUploadEnter(e){
            e.preventDefault()
            e.stopPropagation()
            this.dragclass='bg-yellow-500'
        },
        onUploadDragOver(e){
            e.preventDefault()
            e.stopPropagation()
            this.dragclass='bg-yellow-500'
        },
        onUploadleave(e){
            e.preventDefault()
            e.stopPropagation()
            this.dragclass=''

        },
        onUploadDrop(e) {
            this.dragclass=''
            e.preventDefault()
            e.stopPropagation()
            let dt = e.dataTransfer
            let files = dt.files

            this.handleFiles(files)
        },
        handleFiles(files) {
            const input = document.getElementById('images')
            this.images = input.files =  files

            this.previewImages();
        },
        previewImages() {
            Array.from(this.images).forEach((image, idx) => {
                let reader = new FileReader()
                reader.readAsDataURL(image)
                reader.onloadend  = () => {
                    this.imageSources[idx] = reader.result
                }
            });
        }
    }
}
</script>

<template>
    <LayoutAuthenticated>
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiBallotOutline" title="Редактирование Товара" main>
                <BaseButton
                    routeName="products.index"
                    target="_blank"
                    :icon="mdiArrowLeftBold"
                    label="Назад"
                    color="info"
                    outline
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <CardBox form @submit.prevent="submit">
                <FormField label="Название*" >
                    <FormControl v-model="productData.title" type="text" placeholder="Название" />
                    <small v-if="errors.title" class="text-red-600">{{errors.title[0]}}</small>
                </FormField>
                <FormField label="Цена*" >
                    <FormControl v-model="productData.price" type="text" placeholder="Цена" />
                    <small v-if="errors.price" class="text-red-600">{{errors.price[0]}}</small>
                </FormField>
                <FormField label="Цена со скидкой" >
                    <FormControl v-model="productData.price_with_discount" type="text" placeholder="Цена со скидкой" />
                    <small v-if="errors.price_with_discount" class="text-red-600">{{errors.price_with_discount[0]}}</small>
                </FormField>
                <FormField label="Описание" >
                    <FormControl v-model="productData.description" type="textarea" placeholder="Описанией" />
                    <small v-if="errors.description" class="text-red-600">{{errors.description[0]}}</small>
                </FormField>
                <FormField class="hidden" label="Изображение" >
                    <FormControl v-model="productData.preview" type="text" placeholder="Изображение" />
                    <small v-if="errors.preview" class="text-red-600">{{errors.preview[0]}}</small>
                </FormField>
                <FormField label="Автор" >
                    <FormControl withEmpty v-model="productData.author_id" :options="authors" />
                    <small v-if="errors.author_id" class="text-red-600">{{errors.author_id[0]}}</small>
                </FormField>
                <SectionMain v-if="productData.images.length" class="flex flex-wrap">
                    <div class="relative mt-4 ml-4"  v-for="image in productData.images">
                        <img class="h-36" :src="image.url" :alt="productData.title">
                        <span class="absolute -top-3 -right-3">
                            <BaseIcon
                                @click="deleteImage(image.id)"
                                :path="mdiCloseCircleOutline" size="26" class="cursor-pointer bg-red-500 text-white rounded-2xl" />
                        </span>
                    </div>
                    </SectionMain>
                <SectionMain>
                    <input id="images" @change="addImages" multiple ref="fileInput" type="file" class="hidden"
                           accept="image/png, image/gif, image/jpeg, image/webp" />
                    <CardBox
                        @dragenter="onUploadEnter"
                        @dragleave="onUploadleave"
                        @dragover="onUploadDragOver"
                        @drop="onUploadDrop"
                        @click="$refs.fileInput.click()"
                        :class="[dragclass, 'md:w-7/12 lg:w-5/12 xl:w-4/12 shadow-2xl md:mx-auto cursor-pointer']">
                        <div class="no-pointer-events text-center py-4 lg:py-4 text-gray-500 dark:text-slate-400">
                            <div><b>Перетяните сюда изображения</b><br />
                                <small>или нажмите для обзора</small>
                            </div>
                        </div>
                    </CardBox>
                </SectionMain>
                <SectionMain v-if="images.length">
                    <CardBox class="md:w-7/12 lg:w-5/12 xl:w-4/12 shadow-2xl md:mx-auto">
                        <div class="text-center py-4 lg:py-4 text-gray-500 dark:text-slate-400">
                            <div v-for="(image, index) in images" class="flex mt-10 justify-between items-center">
                                <img :src="imageSources[index]" class="h-20" />
                                <span>{{image.name}}({{image.size}} bytes)</span>
                                <span @click="removeImage(index)" class="cursor-pointer"><BaseIcon :path="mdiCloseCircleOutline" size="15" class="text-red-500" /></span>
                            </div>
                        </div>
                    </CardBox>
                </SectionMain>

                <template #footer>
                    <BaseButtons>
                        <BaseButton v-if="canSubmit" @click="updateProduct" type="submit" color="info" label="Редактировать" />
                        <BaseButton v-if="!canSubmit" type="submit" color="info" label="Редактировать" style="opacity:0.5" />

                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>


    </LayoutAuthenticated>
</template>
