<script setup>
import {
    mdiMonitorCellphone,
    mdiTableBorder,
    mdiTableOff,
    mdiGithub,
    mdiPlus,
    mdiEye,
    mdiTrashCan,
    mdiPencil, mdiCancel
} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import CardBox from '@/components/CardBox.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from "@/Components/BaseButtons.vue";
import CardBoxModal from "@/Components/CardBoxModal.vue";
import axios from "axios";
import FormControl from "@/Components/FormControl.vue";
import BaseLevel from "@/Components/BaseLevel.vue";
import CardBoxModalProduct from "@/Components/CardBoxModalProduct.vue";
</script>

<script>
import {ref} from "vue";
import {router} from "@inertiajs/vue3";
import _ from 'lodash';
import Slider from '@vueform/slider'

const product_id = ref(false)

const isModalDangerActive = ref(false)



export default{
    data(){
        return {
          productsData: this.products,
          filters: {},
            titles: [],
            priceFilter: [parseInt(this.prices.minPrice), parseInt(this.prices.maxPrice)],
            priceLimits: [parseInt(this.prices.minPrice), parseInt(this.prices.maxPrice)],
            priceWithDiscountFilter: [parseInt(this.prices.minPriceWithDiscount), parseInt(this.prices.maxPriceWithDiscount)],
            priceWithDiscountLimits: [parseInt(this.prices.minPriceWithDiscount), parseInt(this.prices.maxPriceWithDiscount)],
            showModal: false,
            modalProduct: {}
      }
    },
    computed: {
        hasFilter: function () {
            let filtered = Object.filter(this.filters, el => el!==null && el.length>0 );
            return Object.keys(filtered).length >0
        },
    },
    watch:{
        priceFilter: {
            handler(val, oldVal) {
                console.log(val);
                this.filters.price_from = val[0]
                this.filters.price_to = val[1]
                this.indexProduct()
            },
            //deep: true
        },
    },
    props:[
        'products',
        'prices'
    ],
    methods: {
        truncate(text, length, suffix) {
            if (text.length > length) {
                return text.substring(0, length) + suffix;
            } else {
                return text;
            }
        },
        deleteProduct(id) {
            axios.delete(`/admin/products/${id}`)
                .then(res => {
                    router.visit('/admin/products')
                })
                .catch(res => {

                })
                .finally(res => {

                })
        },
        indexProduct() {
            axios.get(`/admin/products`, {
                params: this.filters
            })
            .then(res => {
                this.productsData = res.data;
            })
        },
        onSearchTitle(search, loading) {
            if(search.length>1) {
                loading(true);
                this.search(loading, search, this);
            }
        },
        search: _.debounce((loading, search, vm) => {
            axios('/admin/products',{
                params: {title: search}
            }).then(res => {

                vm.titles = res.data.data.map((el) => el.title)
                loading(false);
            });
        }, 500),
        clearFilter() {
            this.filters = {}
            this.indexProduct()
        },
        paginateLink: function (link) {
            if (link.url === null) return 0;
            let matches = link.url.match(/.*?page=(\d+)/);
            return parseInt(matches[1]);
        },
        paginate: function (link) {
            this.filters.page = this.paginateLink(link)
            this.indexProduct()
        },
    }
}
</script>
<style src="@vueform/slider/themes/default.css"></style>
<style>
@import "vue-select/dist/vue-select.css";
</style>
<template>
    <LayoutAuthenticated>
        <CardBoxModalProduct hasCancel title="О товаре" v-model="showModal" :product="modalProduct" />
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiTableBorder" title="Товары" main>
                <BaseButton
                    routeName="products.create"
                    :icon="mdiPlus"
                    label="Добавить"
                    color="info"
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>

            <CardBox class="mb-6" has-table>

                <CardBoxModal @confirm="deleteProduct(product_id)" v-model="isModalDangerActive" title="Действительно удалить?" button="danger" has-cancel>

                </CardBoxModal>

                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Цена со скидкой</th>
                        <th>Описание</th>
                        <th>Автор</th>
                        <th />
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td data-label="Название">
                            <v-select v-model="filters.title" @update:modelValue="indexProduct"  :options="titles" :filterable="false" @search="onSearchTitle" >
                                <template v-slot:no-options="option">
                                    Начните вводить
                                </template>
                                <template v-slot:option="option">
                                    <div class="d-center">
                                        {{ truncate(option.label, 20, '...') }}
                                    </div>
                                </template>
                                <template v-slot:selected-option="option">
                                    <div class="selected d-center">
                                        {{ truncate(option.label, 20, '...') }}
                                    </div>
                                </template>
                            </v-select>
                        </td>
                        <td colspan="2" data-label="Цена">
                            <div>Цена</div>
                            <Slider :step="1" :min="priceLimits[0]" :max="priceLimits[1]" showTooltip="drag" v-model="priceFilter" />

                            <div>Цена со скидкой</div>
                            <Slider :step="1" :min="priceWithDiscountLimits[0]" :max="priceWithDiscountLimits[1]" showTooltip="drag" v-model="priceWithDiscountFilter" />

                        </td>
                        <td data-label="Описание"><FormControl v-on:keyup.enter="indexProduct" @focusout="indexProduct" v-model="filters.description" type="text" placeholder="Описание" /></td>
                        <td data-label="Автор"><FormControl v-on:keyup.enter="indexProduct" @focusout="indexProduct" v-model="filters.author_id" type="text" placeholder="Автор" /></td>
                        <td data-label="Очистить фильтр"><BaseButton v-if="hasFilter===true" @click="clearFilter" :icon="mdiCancel" color="danger" title="Очистить фильтр" /></td>
                    </tr>
                    <tr v-for="product in productsData.data" :key="product.id">
                        <td data-label="Id">
                            {{product.id}}
                        </td>
                        <td data-label="Название">
                            {{product.title}}
                        </td>
                        <td data-label="Цена">
                            {{product.price}}
                        </td>
                        <td data-label="Цена со скидкой">
                            {{product.price_with_discount}}
                        </td>
                        <td data-label="Описание">
                            {{product.description_short}}
                        </td>
                        <td data-label="Автор">
                            {{product.author?(product.author.last_name+' '+product.author.name+' '+product.author.sur_name):''}}
                        </td>

                        <td class="before:hidden lg:w-1 whitespace-nowrap">
                            <BaseButtons type="justify-start lg:justify-end" no-wrap>
                                <BaseButton color="warning" :icon="mdiEye" small @click="modalProduct=product; showModal=true" />
                                <BaseButton color="info" :icon="mdiPencil" small :href="route('products.edit', { id: product.id })" />
                                <BaseButton
                                    color="danger"
                                    :icon="mdiTrashCan"
                                    small
                                    @click="isModalDangerActive = true; product_id=product.id"
                                />
                            </BaseButtons>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div v-if="productsData.meta.links.length > 3" class="p-3 lg:px-6 border-t border-gray-100 dark:border-slate-800">
                    <BaseLevel>
                        <BaseButtons>
                            <BaseButton
                                :disabled="paginateLink(page) == 0"
                                v-for="page in productsData.meta.links"
                                :active="paginateLink(page) === productsData.meta.current_page"
                                :label= "page.label"
                                :color="paginateLink(page) === productsData.meta.current_page ? 'lightDark' : 'whiteDark'"
                                small
                                @click="paginate(page)"
                            />
                        </BaseButtons>
                        <small>Page {{ productsData.meta.current_page }} of {{ productsData.meta.last_page }}</small>
                    </BaseLevel>
                </div>
            </CardBox>


        </SectionMain>
    </LayoutAuthenticated>
</template>
