<script setup>
import {computed, reactive, ref} from 'vue'
import {mdiBallotOutline, mdiAccount, mdiMail, mdiGithub, mdiArrowLeftBold, mdiCheckCircle} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import CardBox from '@/components/CardBox.vue'
import FormCheckRadioGroup from '@/components/FormCheckRadioGroup.vue'
import FormFilePicker from '@/components/FormFilePicker.vue'
import FormField from '@/components/FormField.vue'
import FormControl from '@/components/FormControl.vue'
import BaseDivider from '@/components/BaseDivider.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from '@/components/BaseButtons.vue'
import SectionTitle from '@/components/SectionTitle.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import NotificationBarInCard from '@/components/NotificationBarInCard.vue'
import axios from "axios";
import NotificationBar from "@/Components/NotificationBar.vue";

const selectOptions = [
    { id: 1, label: 'Business development' },
    { id: 2, label: 'Marketing' },
    { id: 3, label: 'Sales' }
]

const form = reactive({
    name: 'John Doe',
    email: 'john.doe@example.com',
    phone: '',
    department: selectOptions[0],
    subject: '',
    question: ''
})

const customElementsForm = reactive({
    checkbox: ['lorem'],
    radio: 'one',
    switch: ['one'],
    file: null
})

const submit = () => {
    //
}

const formStatusWithHeader = ref(true)

const formStatusCurrent = ref(0)

const formStatusOptions = ['info', 'success', 'danger', 'warning']

const formStatusSubmit = () => {
    formStatusCurrent.value = formStatusOptions[formStatusCurrent.value + 1]
        ? formStatusCurrent.value + 1
        : 0
}
const notificationSettingsModel = ref([])
const notificationsOutline = computed(() => notificationSettingsModel.value.indexOf('outline') > -1)
</script>

<script>
export default{
    data() {
        return {
            speciality: {},
            errors: {},
            storeSuccess: false
        }
    },
    computed: {
        canSubmit: function () {
            return this.speciality.title
        }
    },
    methods:{
        clearForm(){
            this.storeSuccess = false
            this.speciality = {};
        },
        storeSpeciality(){

            axios.post('/admin/specialities', this.speciality)
                .then(res => {
                    this.storeSuccess = true
                    this.speciality = {}
                })
                .catch(res => {
                    this.storeSuccess = false
                    this.errors = res.response.data.errors
                })
                .finally(res => {

                })
        }
    }
}
</script>

<template>
    <LayoutAuthenticated>
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiBallotOutline" title="Создание Специализации" main>
                <BaseButton
                    routeName="specialities.index"
                    target="_blank"
                    :icon="mdiArrowLeftBold"
                    label="Назад"
                    color="info"
                    outline
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <NotificationBar v-if="storeSuccess && Object.keys(speciality).length===0" color="success" :icon="mdiCheckCircle" :outline="notificationsOutline">
                <b>Удачно</b>. Специализация создана
                <template #right>

                </template>
            </NotificationBar>
            <CardBox form @submit.prevent="submit">
                <FormField label="Название" >
                    <FormControl v-model="speciality.title" type="text" placeholder="Название" />
                    <small v-if="errors.title" class="text-red-600">{{errors.title[0]}}</small>
                </FormField>

                <template #footer>
                    <BaseButtons>
                        <BaseButton :class="[canSubmit ? '':'passive-btn','']"  type="submit" color="info" label="Создать"  />


                        <BaseButton @click="clearForm" type="reset" color="info" outline label="Очистить" />
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>


    </LayoutAuthenticated>
</template>
