<script setup>
import { reactive, ref } from 'vue'
import {mdiBallotOutline, mdiAccount, mdiMail, mdiGithub, mdiArrowLeftBold} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import CardBox from '@/components/CardBox.vue'
import FormCheckRadioGroup from '@/components/FormCheckRadioGroup.vue'
import FormFilePicker from '@/components/FormFilePicker.vue'
import FormField from '@/components/FormField.vue'
import FormControl from '@/components/FormControl.vue'
import BaseDivider from '@/components/BaseDivider.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from '@/components/BaseButtons.vue'
import SectionTitle from '@/components/SectionTitle.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import NotificationBarInCard from '@/components/NotificationBarInCard.vue'
import axios from "axios";

const selectOptions = [
    { id: 1, label: 'Business development' },
    { id: 2, label: 'Marketing' },
    { id: 3, label: 'Sales' }
]

const form = reactive({
    name: 'John Doe',
    email: 'john.doe@example.com',
    phone: '',
    department: selectOptions[0],
    subject: '',
    question: ''
})

const customElementsForm = reactive({
    checkbox: ['lorem'],
    radio: 'one',
    switch: ['one'],
    file: null
})

const submit = () => {
    //
}

const formStatusWithHeader = ref(true)

const formStatusCurrent = ref(0)

const formStatusOptions = ['info', 'success', 'danger', 'warning']

const formStatusSubmit = () => {
    formStatusCurrent.value = formStatusOptions[formStatusCurrent.value + 1]
        ? formStatusCurrent.value + 1
        : 0
}
</script>

<script>
import {router} from "@inertiajs/vue3";

export default{
    data() {
        return {
            'speciality': {...this.speciality},
            'errors': {}
        }
    },
    props:[
        'speciality'
    ],
    computed: {
        canSubmit: function () {
            return this.speciality.title
        }
    },
    methods:{
        updateSpeciality(){

            axios.patch(`/admin/specialities/${this.speciality.id}`, this.speciality)
                .then(res => {
                    router.visit('/admin/specialities')
                })
                .catch(res => {
                    //console.log(res);
                    this.errors = res.response.data.errors
                })
                .finally(res => {

                })
        }
    }
}
</script>

<template>
    <LayoutAuthenticated>
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiBallotOutline" title="Редактирование Специализации" main>
                <BaseButton
                    routeName="specialities.index"
                    target="_blank"
                    :icon="mdiArrowLeftBold"
                    label="Назад"
                    color="info"
                    outline
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <CardBox form @submit.prevent="submit">
                <FormField label="Название" >
                    <FormControl v-model="speciality.title" type="text" placeholder="Название" />
                    <small v-if="errors.title" class="text-red-600">{{errors.title[0]}}</small>
                </FormField>

                <template #footer>
                    <BaseButtons>
                        <BaseButton :class="[canSubmit ? '':'passive-btn','']"  type="submit" color="info" label="редактировать"  />

                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>


    </LayoutAuthenticated>
</template>
