<script setup>
import {
    mdiMonitorCellphone,
    mdiTableBorder,
    mdiTableOff,
    mdiGithub,
    mdiPlus,
    mdiEye,
    mdiTrashCan,
    mdiPencil
} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import CardBox from '@/components/CardBox.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from "@/Components/BaseButtons.vue";
import CardBoxModal from "@/Components/CardBoxModal.vue";
import axios from "axios";
</script>

<script>
import {ref} from "vue";
import {router} from "@inertiajs/vue3";

const speciality_id = ref(false)

const isModalDangerActive = ref(false)
export default{
    data(){
      return {
          specialities: {}
      }
    },
    props:[
        'specialities',
    ],
    methods:{
        deleteSpeciality(id){
            axios.delete(`/admin/specialities/${id}`)
                .then(res => {
                    router.visit('/admin/specialities')
                })
                .catch(res => {

                })
                .finally(res => {

                })
        }
    }
}
</script>

<template>
    <LayoutAuthenticated>
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiTableBorder" title="Специализации" main>
                <BaseButton
                    routeName="specialities.create"
                    :icon="mdiPlus"
                    label="Добавить"
                    color="info"
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>


            <CardBox class="mb-6" has-table>
                <CardBoxModal @confirm="deleteSpeciality(speciality_id)" v-model="isModalDangerActive" title="Действительно удалить?" button="danger" has-cancel>

                </CardBoxModal>

                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th />
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="speciality in specialities" :key="speciality.id">
                        <td data-label="Id">
                            {{speciality.id}}
                        </td>
                        <td data-label="Название">
                            {{speciality.title}}
                        </td>

                        <td class="before:hidden lg:w-1 whitespace-nowrap">
                            <BaseButtons type="justify-start lg:justify-end" no-wrap>
                                <BaseButton color="info" :icon="mdiPencil" small :href="route('specialities.edit', { id: speciality.id })" />
                                <BaseButton
                                    color="danger"
                                    :icon="mdiTrashCan"
                                    small
                                    @click="isModalDangerActive = true; speciality_id=speciality.id"
                                />
                            </BaseButtons>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </CardBox>


        </SectionMain>
    </LayoutAuthenticated>
</template>
