<script setup>
import {
    mdiCartOutline,
} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import CardBoxProduct from "@/Components/CardBoxProduct.vue";



</script>

<script>

export default {
    data(){
      return {
          dataProducts: this.products,
          productsInCart: [],
      }
    },
    computed: {
        productsInCartIds: function(){
            return this.productsInCart.map(el=>el.id);
        }
    },
    props:[
        'products',
    ],
    methods:{
        getProductsInCart(productsInCart){
            this.productsInCart = productsInCart;
        },
        updateCart(products){
           this.$bus.trigger('updateCart', products);
        }
    }
}
</script>

<template>
    <LayoutAuthenticated @getProductsInCart="getProductsInCart" @editCart="editCart" >
        <SectionMain>
            <h1 class="text-3xl mb-6">Товары</h1>

            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 mb-6">
                <CardBoxProduct  v-for="product in dataProducts.data"
                    :product="product"
                    @updateCart="updateCart"
                    :remove="productsInCartIds.includes(product.id)"
                />
            </div>


        </SectionMain>
    </LayoutAuthenticated>
</template>
