<script setup>
import {computed, reactive, ref} from 'vue'
import {mdiBallotOutline, mdiAccount, mdiMail, mdiGithub, mdiArrowLeftBold, mdiCheckCircle} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import CardBox from '@/components/CardBox.vue'
import FormCheckRadioGroup from '@/components/FormCheckRadioGroup.vue'
import FormFilePicker from '@/components/FormFilePicker.vue'
import FormField from '@/components/FormField.vue'
import FormControl from '@/components/FormControl.vue'
import BaseDivider from '@/components/BaseDivider.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from '@/components/BaseButtons.vue'
import SectionTitle from '@/components/SectionTitle.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import NotificationBarInCard from '@/components/NotificationBarInCard.vue'
import axios from "axios";
import NotificationBar from "@/Components/NotificationBar.vue";





const customElementsForm = reactive({
    checkbox: ['lorem'],
    radio: 'one',
    switch: ['one'],
    file: null
})

const submit = () => {
    //
}

const formStatusWithHeader = ref(true)

const formStatusCurrent = ref(0)

const formStatusOptions = ['info', 'success', 'danger', 'warning']

const formStatusSubmit = () => {
    formStatusCurrent.value = formStatusOptions[formStatusCurrent.value + 1]
        ? formStatusCurrent.value + 1
        : 0
}
const notificationSettingsModel = ref([])
const notificationsOutline = computed(() => notificationSettingsModel.value.indexOf('outline') > -1)
</script>

<script>
import {computed} from "vue";

export default{
    data() {
        return {
            author: {},
            errors: {},
            storeSuccess: false
        }
    },
    computed: {
        canSubmit: function () {
            return this.author.name && this.author.last_name
        }
    },
    props:[
        'specialities'
    ],
    methods:{
        clearForm(){
            this.storeSuccess = false
            this.author = {};
        },
        storeAuthor(){

            axios.post('/admin/authors', this.author)
                .then(res => {

                    this.storeSuccess = true
                    this.author = {}
                })
                .catch(res => {
                    this.storeSuccess = false
                    this.errors = res.response.data.errors
                })
                .finally(res => {

                })
        }
    }
}


</script>

<template>
    <LayoutAuthenticated>
        <SectionMain>
            <SectionTitleLineWithButton :icon="mdiBallotOutline" title="Создание Автора" main>
                <BaseButton
                    routeName="authors.index"
                    target="_blank"
                    :icon="mdiArrowLeftBold"
                    label="Назад"
                    color="info"
                    outline
                    rounded-full
                    small
                />
            </SectionTitleLineWithButton>
            <NotificationBar v-if="storeSuccess && Object.keys(author).length===0" color="success" :icon="mdiCheckCircle" :outline="notificationsOutline">
                <b>Удачно</b>. Автор создан
                <template #right>

                </template>
            </NotificationBar>
            <CardBox form @submit.prevent="submit">
                <FormField label="Фамилия*" >
                    <FormControl v-model="author.last_name" type="text" placeholder="Фамилия" />
                    <small v-if="errors.last_name" class="text-red-600">{{errors.last_name[0]}}</small>
                </FormField>
                <FormField label="Имя*" >
                    <FormControl v-model="author.name" type="text" placeholder="Имя" />
                    <small v-if="errors.name" class="text-red-600">{{errors.name[0]}}</small>
                </FormField>
                <FormField label="Отчество" >
                    <FormControl v-model="author.sur_name" type="text" placeholder="Отчество" />
                    <small v-if="errors.sur_name" class="text-red-600">{{errors.sur_name[0]}}</small>
                </FormField>
                <FormField label="Специализация" >
                    <FormControl withEmpty v-model="author.speciality_id" :options="specialities" />
                    <small v-if="errors.speciality_id" class="text-red-600">{{errors.speciality_id[0]}}</small>
                </FormField>

                <template #footer>
                    <BaseButtons>
                        <BaseButton :class="[canSubmit ? '':'passive-btn','']"  type="submit" color="info" label="Создать"  />

                        <BaseButton @click="clearForm" type="reset" color="info" outline label="Очистить" />
                    </BaseButtons>
                </template>
            </CardBox>
        </SectionMain>


    </LayoutAuthenticated>
</template>
