<script setup>
import { computed } from 'vue'
import { mdiClose } from '@mdi/js'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from '@/components/BaseButtons.vue'
import CardBox from '@/components/CardBox.vue'
import OverlayLayer from '@/components/OverlayLayer.vue'
import CardBoxComponentTitle from '@/components/CardBoxComponentTitle.vue'

const props = defineProps({
  title: {
    type: String,
    required: true
  },
  button: {
    type: String,
    default: 'info'
  },
  buttonLabel: {
    type: String,
    default: 'Done'
  },
    product: {},
  hasCancel: Boolean,
  modelValue: {
    type: [String, Number, Boolean],
    default: null
  }
})

const emit = defineEmits(['update:modelValue', 'cancel', 'confirm'])

const value = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value)
})

const confirmCancel = (mode) => {
  value.value = false
  emit(mode)
}

const confirm = () => confirmCancel('confirm')

const cancel = () => confirmCancel('cancel')

window.addEventListener('keydown', (e) => {
  if (e.key === 'Escape' && value.value) {
    cancel()
  }
})
</script>

<template>
  <OverlayLayer v-show="value" @overlay-click="cancel">
    <CardBox
      v-show="value"
      class="shadow-lg  w-11/12 md:w-3/5 lg:w-2/5 xl:w-4/12 z-50"
      is-modal
    >
      <CardBoxComponentTitle :title="title">
        <BaseButton
          v-if="hasCancel"
          :icon="mdiClose"
          color="whiteDark"
          small
          rounded-full
          @click.prevent="cancel"
        />
      </CardBoxComponentTitle>

      <div class="space-y-3">
          <div >
              <div><b>Название</b></div>
              <div>{{product.title}}</div>
              <div><b>Цена</b></div>
              <div>{{product.price}}</div>
              <div><b>Цена со скидкой</b></div>
              <div>{{product.price_with_discount}}</div>
              <div><b>Автор</b></div>
              <div>{{product.author?(product.author.last_name+' '+product.author.name+' '+product.author.sur_name):''}}</div>
              <div><b>Описание</b></div>
              <div>{{product.description}}</div>
              <div><b>Дата создания</b></div>
              <div>{{product.created_at}}</div>
              <div><b>Дата редактирования</b></div>
              <div>{{product.updated_at}}</div>
              <div v-if="product.images" class="flex flex-wrap">
                  <img v-for="image in product.images" class="h-36 ml-4 mt-4" :src="image.url" :alt="product.title">
              </div>
          </div>
      </div>


    </CardBox>
  </OverlayLayer>
</template>
