<script setup>
import {mdiCart, mdiCartOutline, mdiCog} from '@mdi/js'
import CardBox from '@/components/CardBox.vue'
import NumberDynamic from '@/components/NumberDynamic.vue'
import BaseIcon from '@/components/BaseIcon.vue'
import BaseLevel from '@/components/BaseLevel.vue'
import PillTagTrend from '@/components/PillTagTrend.vue'
import BaseButton from '@/components/BaseButton.vue'
import axios from "axios";
</script>

<script>
export default {
    data() {
      return {
          dataProduct: this.product
      }
    },
    props:[
        'product',
        'remove',
    ],
    methods:{
        addToCart(product_id){
            axios.post('/users/product_to_cart', {product_id})
                .then(res=>{
                    this.$emit('updateCart', res.data.products_in_cart);
                })
        },
        removeFromCart(product_id){
            axios.delete('/users/product_to_cart', {data: {product_id}})
                .then(res=>{
                    this.$emit('updateCart', res.data.products_in_cart);
                })
        }
    },

}
</script>

<template>

  <CardBox>
    <BaseLevel class="mb-3" mobile>
        <b>{{ dataProduct.title }}</b>
    </BaseLevel>
    <BaseLevel mobile>
      <div>
        <h3 class="text-lg leading-tight text-gray-500 dark:text-slate-400">
          {{ dataProduct.description_short }}
        </h3>
        <h1 class="text-3xl leading-tight font-semibold">
          <NumberDynamic :value="dataProduct.price" suffix="р." />
        </h1>
      </div>
      <a v-if="!remove" title="Добавить в корзину" @click="addToCart(dataProduct.id)" href="javascript:void(0);"><BaseIcon :path="mdiCartOutline" size="48" w="" h="h-16" class="text-blue-500" /></a>
      <a v-if="remove" title="Убрать из корзины" @click="removeFromCart(dataProduct.id)" href="javascript:void(0);"><BaseIcon :path="mdiCart" size="48" w="" h="h-16" class="text-green-500" /></a>
    </BaseLevel>
  </CardBox>
</template>
