<script setup>
import {defineComponent} from 'vue'
import CardBoxComponentTitle from "@/Components/CardBoxComponentTitle.vue";
import BaseButton from "@/Components/BaseButton.vue";
import BaseIcon from "@/Components/BaseIcon.vue";
import BaseButtons from "@/Components/BaseButtons.vue";
import CardBox from "@/Components/CardBox.vue";
import {mdiClose, mdiCloseCircleOutline, mdiMinusCircleOutline, mdiPlusCircleOutline} from "@mdi/js";
import axios from "axios";
</script>

<script>
export default {
    name: "Cart",
    data(){
        return {
            orderSuccess: false,
        }
    },
    props:[
        'show_cart',
        'products_in_cart'
    ],
    methods: {
        createOrder(){

            axios.post('/orders')
                .then(res=>{
                    this.$bus.trigger('updateCart', []);
                    this.orderSuccess = res.data.id
                })
        }
    },
}
</script>

<template>

    <CardBox v-if="show_cart"
             class=" shadow-2xl md:mx-auto absolute top-20 right-0 p-6 z-10 bg-gray-50"
             is-hoverable
    >
        <div v-if="orderSuccess">
            <CardBoxComponentTitle :title="`Заказ № ${orderSuccess} сформирован`" >
                <BaseButton @click="orderSuccess = false; $emit('hideCart')" :icon="mdiClose" color="whiteDark" small rounded-full />
            </CardBoxComponentTitle>
        </div>

        <div v-if="!orderSuccess">
            <CardBoxComponentTitle title="Корзина">
                <BaseButton @click="$emit('hideCart')" :icon="mdiClose" color="whiteDark" small rounded-full />
            </CardBoxComponentTitle>
            <div class="space-y-3">
                <table class="table-auto">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Итого</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in products_in_cart">
                        <td>{{ product.title }}</td>
                        <td>{{ product.price }}</td>
                        <td style="user-select: none">
                            <span @click="$emit('editCart', product.id, 'decrement')" class="cursor-pointer"><BaseIcon :path="mdiMinusCircleOutline" size="15" class="text-blue-500" /></span>
                            <span>{{ product.quantity }}</span>
                            <span @click="$emit('editCart', product.id, 'increment')" class="cursor-pointer"><BaseIcon :path="mdiPlusCircleOutline" size="15" class="text-blue-500" /></span>
                        </td>
                        <td>{{ product.price * product.quantity }}</td>
                        <td style="user-select: none"><span @click="$emit('editCart', product.id, 'remove')" class="cursor-pointer"><BaseIcon :path="mdiCloseCircleOutline" size="15" class="text-red-500" /></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <BaseButtons class="mt-8  justify-end">
                <BaseButton @click="createOrder" label="Оформить" color="info" />
            </BaseButtons>
        </div>
    </CardBox>
</template>

<style scoped>

</style>
