<script setup>
import { ref } from 'vue'
import {mdiCart, mdiCartOutline, mdiClose, mdiCog, mdiDotsVertical} from '@mdi/js'
import { containerMaxW } from '@/config.js'
import BaseIcon from '@/components/BaseIcon.vue'
import NavBarMenuList from '@/components/NavBarMenuList.vue'
import NavBarItemPlain from '@/components/NavBarItemPlain.vue'
import BaseLevel from "@/Components/BaseLevel.vue";
import BaseButton from "@/Components/BaseButton.vue";
import PillTagTrend from "@/Components/PillTagTrend.vue";
import PillTag from "@/Components/PillTag.vue";
import CardBoxComponentTitle from "@/Components/CardBoxComponentTitle.vue";
import BaseButtons from "@/Components/BaseButtons.vue";

defineProps({
  menu: {
    type: Array,
    required: true,
  },

    products_in_cart:0
})

const emit = defineEmits(['menu-click'])

const menuClick = (event, item) => {
  emit('menu-click', event, item)
}

const isMenuNavBarActive = ref(false)
</script>



<template>

  <nav
    class="top-0 inset-x-0 fixed bg-gray-50 h-14 z-30 transition-position w-screen lg:w-auto dark:bg-slate-800"
  >
    <div class="flex lg:items-stretch" :class="containerMaxW">
      <div class="flex flex-1 items-stretch h-14">
        <slot />
      </div>
      <div class="flex-none items-stretch flex h-14 lg:hidden">
        <NavBarItemPlain @click.prevent="isMenuNavBarActive = !isMenuNavBarActive">
          <BaseIcon :path="isMenuNavBarActive ? mdiClose : mdiDotsVertical" size="24" />
        </NavBarItemPlain>
      </div>
      <div
        class="max-h-screen-menu overflow-y-auto lg:overflow-visible absolute w-screen top-14 left-0 bg-gray-50 shadow-lg lg:w-auto lg:flex lg:static lg:shadow-none dark:bg-slate-800"
        :class="[isMenuNavBarActive ? 'block' : 'hidden']"
      >
          <div>
              <a href="#" @click="emit('showCart')" class="relative block right-10">
                  <BaseIcon :path="mdiCart" size="48" w="" h="h-16" class="text-orange-500" />
                  <BaseLevel v-if="products_in_cart > 0" class="mb-3 absolute -right-5 top-2" mobile>
                      <PillTag :label="products_in_cart" color="danger" small="small" />
                  </BaseLevel>


              </a>
          </div>
        <NavBarMenuList :menu="menu" @menu-click="menuClick" />
      </div>
    </div>
  </nav>
</template>
