<script setup>
import {
    mdiCartOutline,
} from '@mdi/js'
import SectionMain from '@/components/SectionMain.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import CardBox from "@/Components/CardBox.vue";
import FormField from "@/Components/FormField.vue";
import FormControl from "@/Components/FormControl.vue";
import BaseButton from "@/Components/BaseButton.vue";
import axios from "axios";


</script>

<script>

export default {
    data(){
        return {
            amount:0
        }
    },
    computed: {

    },
    props:[
        'user'
    ],

}
</script>

<template>
    <LayoutAuthenticated @getProductsInCart="getProductsInCart" @editCart="editCart" >
        <SectionMain>
            <h1 class="text-3xl mb-6">Личный кабинет</h1>
            <h2 class="text-xl mb-6">Текущий баланс: {{user.profile.balance}}</h2>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 mb-6">
                <CardBox form >
                    <FormField label="Сумма пополнения" >
                        <FormControl v-model="amount" type="text" placeholder="Сумма пополнения" />
                    </FormField>
                    <BaseButton method="post" :data="{amount}" :href="route('transactions.store')" type="button" color="info" label="Пополнить баланс" />

                </CardBox>
            </div>


        </SectionMain>
    </LayoutAuthenticated>
</template>
