<script setup>
import {
    mdiForwardburger,
    mdiBackburger,
    mdiMenu,
    mdiClose,
    mdiCloseCircleOutline,
    mdiMinusCircleOutline,
    mdiPlusCircleOutline
} from '@mdi/js'
import { ref } from 'vue'
//import { useRouter } from 'vue-router'
import menuAside from '@/menuAside.js'
import menuNavBar from '@/menuNavBar.js'
import { useDarkModeStore } from '@/Stores/darkMode.js'
import BaseIcon from '@/Components/BaseIcon.vue'
import FormControl from '@/Components/FormControl.vue'
import NavBar from '@/Components/NavBar.vue'
import NavBarItemPlain from '@/components/NavBarItemPlain.vue'
import AsideMenu from '@/components/AsideMenu.vue'
import FooterBar from '@/components/FooterBar.vue'

import axios from "axios";

const layoutAsidePadding = 'xl:pl-60'

const darkModeStore = useDarkModeStore()

//const router = useRouter()

const isAsideMobileExpanded = ref(false)
const isAsideLgActive = ref(false)

// router.beforeEach(() => {
//   isAsideMobileExpanded.value = false
//   isAsideLgActive.value = false
// })

import { router } from '@inertiajs/vue3'
import CardBoxComponentTitle from "@/Components/CardBoxComponentTitle.vue";
import BaseButton from "@/Components/BaseButton.vue";
import BaseButtons from "@/Components/BaseButtons.vue";
import Cart from "@/Components/Cart.vue";

router.on('navigate', () => {
    isAsideMobileExpanded.value = false
    isAsideLgActive.value = false
})

// Replace `isLogout` logic:


const menuClick = (event, item) => {
  if (item.isToggleLightDark) {
    darkModeStore.set()
  }

    if (item.isLogout) {
        // Add:
        router.post(route('logout'))
    }
}
</script>

<script>


export default {
    data(){
      return {
          products_in_cart: [],
          show_cart: false
      }
    },
    computed: {
      productsInCartCount: function(){

          return this.products_in_cart.reduce((ac, el) => ac += el.quantity, 0);
      }
    },
    methods:{
        getProducts(){
            axios.get('/user/products_in_cart')
                .then(res=>{
                    this.products_in_cart = res.data
                    this.$emit('getProductsInCart', this.products_in_cart);
                })
        },
        updateCart(products){
            this.products_in_cart = products
            this.$emit('getProductsInCart', this.products_in_cart);
        },
        showCart(){
            this.show_cart = true
        },
        hideCart(){
            this.show_cart = false
        },
        editCart(product_id, method){
            switch(method) {
                case 'remove':
                    axios.delete('/users/product_to_cart', {data: {product_id}})
                        .then(res=>{
                            this.getProducts();
                        })

                case 'decrement':
                    this.products_in_cart.map((el) => {
                        if(el.id === product_id && el.quantity>1){
                            axios.patch('/users/product_to_cart', {product_id:product_id, quantity:el.quantity-1})
                                .then(res=>{
                                    this.getProducts();
                                })
                        }
                    });
                    break
                case 'increment':
                    this.products_in_cart.map((el) => {
                        if(el.id === product_id ){
                            axios.patch('/users/product_to_cart', {product_id:product_id, quantity:el.quantity+1})
                                .then(res=>{
                                    this.getProducts();
                                })
                        }
                    });
                    break
            }

           // this.updateCart()
        }
    },
    mounted() {
        this.getProducts()
        this.$bus.on('updateCart', (products) => this.updateCart(products))
    }
}



</script>

<template>
    <Cart @hideCart="hideCart" @editCart="editCart" :show_cart="show_cart" :products_in_cart="products_in_cart"></Cart>
  <div
    :class="{
      'overflow-hidden lg:overflow-visible ': isAsideMobileExpanded
    }"
  >
    <div
      :class="[layoutAsidePadding, { 'ml-60 lg:ml-0': isAsideMobileExpanded }]"
      class="pt-14 min-h-screen w-screen transition-position lg:w-auto bg-gray-50 dark:bg-slate-800 dark:text-slate-100"
    >
      <NavBar
        :menu="menuNavBar"
        :class="[layoutAsidePadding, { 'ml-60 lg:ml-0': isAsideMobileExpanded }]"
        @menu-click="menuClick"
        :products_in_cart="productsInCartCount"
        @showCart="showCart"
      >
        <NavBarItemPlain
          display="flex lg:hidden"
          @click.prevent="isAsideMobileExpanded = !isAsideMobileExpanded"
        >
          <BaseIcon :path="isAsideMobileExpanded ? mdiBackburger : mdiForwardburger" size="24" />
        </NavBarItemPlain>
        <NavBarItemPlain display="hidden lg:flex xl:hidden" @click.prevent="isAsideLgActive = true">
          <BaseIcon :path="mdiMenu" size="24" />
        </NavBarItemPlain>
        <NavBarItemPlain use-margin>
          <FormControl placeholder="Search (ctrl+k)" ctrl-k-focus transparent borderless />
      </NavBarItemPlain>
      </NavBar>
      <AsideMenu
        :is-aside-mobile-expanded="isAsideMobileExpanded"
        :is-aside-lg-active="isAsideLgActive"
        :menu="menuAside"
        @menu-click="menuClick"
        @aside-lg-close-click="isAsideLgActive = false"
      />

      <slot />
      <FooterBar>

      </FooterBar>
    </div>
  </div>
</template>
<style>

</style>
